@charset "UTF-8";
/* CSS Document */

body{
	background-image:url(images/pw_maze_white.png);
	background-repeat:repeat;
	font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif;
	font-size:12px;
    color:darkgray ;

}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

.nav{
	position:fixed;
	top:0;
	width:100%;
	background-image: url("images/pw_maze_white.png");

    box-shadow: 0px 10px 10px -10px #ff7600;


}

.nav ul{
    float: right;

}


.nav ul li{
	float:left;
	list-style:none;
	
}

li{
	list-style-type:none;
	display:inline;
	text-decoration:none;
	padding:3px;
	font-size:15px;


}

/* unvisited link */
a:link {
    color:#999;
	text-decoration:none;
}

/* visited link */
a:visited {
    color:#000;
	text-decoration:none;
}

/* mouse over link */
a:hover {
    background-color: #ff7600;
    color:#fff;
	text-decoration:none;
}

/* selected link */
a:active {
    color:#999;
	text-decoration:none;
}

h1{
	font-size:30px;
	color:#ff7600;
    text-align: center;
    font-weight: lighter;
}

.container{
	margin:60px;
	text-align:center;
	font-style:italic;
}

.container p{
	font-size:20px;
	color:#999;
}

.image{
	padding-top:100px;
    text-align: center;
    float: left;
	width:100%;
	margin:0 auto;
	/*background-image:url(images/florida.png);*/
	/*background-position:center;*/
	/*background-repeat:no-repeat;*/
    border-bottom-color: #ff7600;
    border-bottom-style: ridge;
    max-width: 100%;
}

.image img:first-child{
    max-width: 100%;
}

#apps, #data, #resources{
    padding:75px 0;
    width: 80%;
    margin: 0 auto;
}

#apps h2{
    color: #ff7600;
    font-weight: lighter;
}

#data h2{
    color: #ff7600;
    font-weight: lighter;
}

#resources h2{
    color: #ff7600;
    font-weight: lighter;
}

ul li{
    display: block;
    list-style-type: none;
}

ul{
    margin-right: 50px;
}

#apps ul li a:link {
    color:#333333;
    text-decoration:none;
}

/* visited link */
#apps ul li a:visited {
    color:#000;
    text-decoration:none;
}

/* mouse over link */
#apps ul li a:hover {
    color:#333333;
    text-decoration:underline;
    background-color: transparent;

}

/* selected link */
#apps ul li a:active {
    color:#333333;
    text-decoration:none;
}

#data{

}

#resources{

}

footer{
    height: 20px;
    padding: 10px;
    text-align: center;
    border-top: solid thin #ff7600;


}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

